Repository jsam0418/aslan_drive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainer-username, @database-expert, @devops-expert, @security-expert, @data-expert, @api-expert, @monitoring-expert, @docs-expert

Switch to K8
  .github/workflows/ci.yml
  CLAUDE.md
  DEPLOYMENT_GUIDE.md
  docker-compose.infrastructure.yml
  docker-compose.standalone.yml
  docker-compose.yml
  generated/daily_ohlcv_model.py
  generated/migration.sql
  generated/models.py
  k8s/cronjobs/data-ingestion-cronjob.yaml
  k8s/cronjobs/health-check-cronjob.yaml
  k8s/deployments/md-provider-deployment.yaml
  k8s/namespace.yaml
  k8s/secrets.yaml
  n8n/README.md
  n8n/aslan-drive-workflow.json
  portainer/.env.example
  portainer/README.md
  portainer/infrastructure-stack.yml
  portainer/k8s-cronjobs-stack.yml
  portainer/scheduled-jobs-stack.yml
  schemas/market_data.json
  scripts/run_data_ingestion.sh
  scripts/run_health_check.sh
  services/data_ingestion/Dockerfile
  services/health_check/Dockerfile
  services/md_provider/Dockerfile
  services/md_provider/api.py
  systemd/aslan-data-ingestion.service
  systemd/aslan-data-ingestion.timer
  systemd/aslan-health-check.service
  systemd/aslan-health-check.timer
Owners: @maintainer-username, @devops-expert, @docs-expert, @database-expert, @data-expert, @monitoring-expert, @api-expert

Fix python formatting
  .isort.cfg
  Makefile
  services/__init__.py
  services/data_ingestion/__init__.py
  services/data_ingestion/database.py
  services/data_ingestion/main.py
  services/data_ingestion/mock_data_generator.py
  services/health_check/__init__.py
  services/health_check/main.py
  services/health_check/slack_notifier.py
  services/md_provider/__init__.py
  services/md_provider/api.py
  services/md_provider/main.py
  tests/__init__.py
  tests/conftest.py
  tests/test_database.py
  tests/test_integration.py
  tests/test_mock_data_generator.py
  tests/test_schema_generator.py
  tools/schema_generator.py
Owners: @maintainer-username, @data-expert, @monitoring-expert, @api-expert

Further CI/CD changes
  CLAUDE.md
  Makefile
  docs/LOCAL_TESTING.md
  generated/migration.sql
  scripts/ci-local.sh
  scripts/setup-act.sh
  services/data_ingestion/database.py
  services/data_ingestion/mock_data_generator.py
  services/md_provider/api.py
Owners: @maintainer-username, @docs-expert, @database-expert, @data-expert, @api-expert

Fix unittests
  generated/migration.sql
  services/data_ingestion/database.py
  services/data_ingestion/mock_data_generator.py
  services/health_check/slack_notifier.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_schema_generator.py
  tools/schema_generator.py
Owners: @maintainer-username, @database-expert, @data-expert, @monitoring-expert

Fix failing unittest
  generated/migration.sql
Owners: @maintainer-username, @database-expert

Change mypy settings
  generated/migration.sql
  mypy.ini
  services/health_check/main.py
Owners: @maintainer-username, @database-expert, @monitoring-expert

Fix slack notifier
  generated/migration.sql
  services/health_check/slack_notifier.py
Owners: @maintainer-username, @database-expert, @monitoring-expert

Fix image pushing
  .github/workflows/ci.yml
Owners: @maintainer-username, @devops-expert

Fix security scanning
  .github/workflows/ci.yml
Owners: @maintainer-username, @devops-expert

Fix build step
  .github/workflows/ci.yml
Owners: @maintainer-username, @devops-expert

Update image names
  k8s/cronjobs/data-ingestion-cronjob.yaml
  k8s/cronjobs/health-check-cronjob.yaml
  k8s/deployments/md-provider-deployment.yaml
  portainer/infrastructure-stack.yml
  portainer/k8s-cronjobs-stack.yml
Owners: @maintainer-username, @devops-expert

Fix host type issue
  .github/workflows/ci.yml
  portainer/infrastructure-stack-local-build.yml
  portainer/k8s-cronjobs-stack-local-build.yml
Owners: @maintainer-username, @devops-expert

PgAdmin
  portainer/infrastructure-stack-local-build.yml
  portainer/infrastructure-stack.yml
  portainer/k8s-cronjobs-stack-local-build.yml
Owners: @maintainer-username, @devops-expert

Fix recursive annotation issue
  services/md_provider/api.py
Owners: @maintainer-username, @api-expert

Fix formatting error
  services/md_provider/api.py
Owners: @maintainer-username, @api-expert

Add initial k3s infrastructure
  k8s/.gitignore
  k8s/cronjobs/data-ingestion-cronjob.yaml
  k8s/cronjobs/db-backup-cronjob.yaml
  k8s/cronjobs/health-check-cronjob.yaml
  k8s/deployments/md-provider-deployment.yaml
  k8s/deployments/postgres-statefulset.yaml
  k8s/kustomization.yaml
  k8s/portainer-gitops-stack.yml
  k8s/sealed-secrets-ghcr.yaml
  k8s/sealed_secrets.yaml
  k8s/secrets.yaml
  k8s/storage/persistent-volumes.yaml
Owners: @maintainer-username

Fix kustomization
  k8s/kustomization.yaml
Owners: @maintainer-username

Add CI step for compiled yaml
  .github/workflows/ci.yml
  k8s/.gitignore
Owners: @maintainer-username, @devops-expert

Fix some CI/CD stuff
  .github/workflows/ci.yml
  k8s/.gitignore
  k8s/sealed-secrets.yaml
Owners: @maintainer-username, @devops-expert

Fix yaml formatting
  .github/workflows/ci.yml
Owners: @maintainer-username, @devops-expert

Fix ci push of compiled manifest
  k8s/.gitignore
  k8s/compiled.yaml
  k8s/sealed_secrets.yaml
Owners: @maintainer-username

Allow write permissions
  .github/workflows/ci.yml
Owners: @maintainer-username, @devops-expert

🤖 Update compiled Kubernetes manifests
  k8s/compiled.yaml
Owners: @maintainer-username

Add external ports
  k8s/deployments/md-provider-deployment.yaml
  k8s/deployments/postgres-statefulset.yaml
Owners: @maintainer-username

🤖 Update compiled Kubernetes manifests
  k8s/compiled.yaml
Owners: @maintainer-username

Fix failing health check by generating correct trade date data
  portainer/infrastructure-stack.yml
  requirements.txt
  services/data_ingestion/main.py
  services/health_check/main.py
Owners: @maintainer-username, @devops-expert, @security-expert, @data-expert, @monitoring-expert

Fixes to CI checks
  Makefile
  requirements.txt
  services/data_ingestion/main.py
  services/health_check/main.py
Owners: @maintainer-username, @security-expert, @data-expert, @monitoring-expert

Fix compose depend error
  portainer/infrastructure-stack.yml
Owners: @maintainer-username, @devops-expert

Missing network
  portainer/infrastructure-stack.yml
Owners: @maintainer-username, @devops-expert

Add postgREST to stack
  k8s/deployments/postgrest-deployment.yaml
  k8s/kustomization.yaml
Owners: @maintainer-username

🤖 Update compiled Kubernetes manifests
  k8s/compiled.yaml
Owners: @maintainer-username

Add swagger UI
  k8s/deployments/postgrest-deployment.yaml
  k8s/deployments/swagger-ui-deployment.yaml
  k8s/kustomization.yaml
Owners: @maintainer-username

🤖 Update compiled Kubernetes manifests
  k8s/compiled.yaml
Owners: @maintainer-username

Switch to alembic and remove json schemas
  CI_CD_GUIDE.md
  DEPLOYMENT_GUIDE.md
  Makefile
  WORKING_COMMANDS.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20250904_1935_642f5b56bb73_initial_schema_with_daily_ohlcv_and_.py
  docker-compose.yml
  generated/daily_ohlcv_dataclass.py
  generated/daily_ohlcv_model.py
  generated/migration.sql
  generated/models.py
  generated/symbols_dataclass.py
  generated/symbols_model.py
  k8s/cronjobs/db-backup-cronjob.yaml
  k8s/deployments/swagger-ui-deployment.yaml
  models/__init__.py
  models/base.py
  models/market_data.py
  schemas/market_data.json
  services/data_ingestion/database.py
  services/data_ingestion/main.py
  services/db_migration/Dockerfile
  services/db_migration/__init__.py
  services/db_migration/main.py
  tools/schema_generator.py
Owners: @maintainer-username, @docs-expert, @devops-expert, @database-expert, @data-expert

Fix CI CD
  .github/workflows/ci.yml
  Makefile
  docs/ALEMBIC_WORKFLOW.md
  models/__init__.py
  models/base.py
  models/market_data.py
  tests/test_schema_generator.py
Owners: @maintainer-username, @devops-expert, @docs-expert

Fix CI
  .github/workflows/ci.yml
  .gitignore
Owners: @maintainer-username, @devops-expert

More CI updates
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
  dev.py
  docker/Dockerfile.base
  mypy.ini
  scripts/ci-local.sh
  services/data_ingestion/Dockerfile
  services/health_check/Dockerfile
  services/md_provider/Dockerfile
  test_basic.py
Owners: @maintainer-username, @devops-expert, @security-expert, @data-expert, @monitoring-expert, @api-expert

.github/CODEOWNERS:

# Global code owners
* @maintainer-username

# Schema and database changes require additional review
schemas/ @maintainer-username @database-expert
generated/ @maintainer-username @database-expert
**/migration.sql @maintainer-username @database-expert

# Docker and infrastructure changes
docker/ @maintainer-username @devops-expert
.github/workflows/ @maintainer-username @devops-expert
docker-compose*.yml @maintainer-username @devops-expert
portainer/ @maintainer-username @devops-expert
systemd/ @maintainer-username @devops-expert

# Security-sensitive files
.github/workflows/security.yml @maintainer-username @security-expert
requirements.txt @maintainer-username @security-expert

# Core services
services/data_ingestion/ @maintainer-username @data-expert
services/md_provider/ @maintainer-username @api-expert
services/health_check/ @maintainer-username @monitoring-expert

# Documentation
*.md @maintainer-username @docs-expert
docs/ @maintainer-username @docs-expert
